@implements IDisposable
@inject IShoppingCartService _shoppinCartService

<a href="ShoppingCart" class="btn btn-info">
    <i class="oi oi-caret-top"></i>&nbsp;Cart
    <span class="badge bg-dark">@shoppingCartItemCount</span>
</a>


@code {
    private int shoppingCartItemCount = 0;

    protected override void OnInitialized()
    {
        // this + means subscribe to an event
        _shoppinCartService.OnShoppingCartChanged += ShoppingCartChanged;
    }

    protected void ShoppingCartChanged(int totalQty)
    {
        shoppingCartItemCount = totalQty;
        StateHasChanged();

    }

    void IDisposable.Dispose()
    {
        // this - means unsubscribe to an event
        _shoppinCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }

}
